* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #000;
  font-family: 'Barlow Condensed', sans-serif;
  color: #ffffff;
  text-shadow: 0 0 30px #2d2d2d;
}

html, body, #clock, #media {
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 30vw;
  margin-top: -25px;
  letter-spacing: 10px;
}

h4 {
  font-size: 5vw;
  margin-left: 10px;
}

video {
  z-index: 0;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
}

#clock, #media {
  position: absolute;
}

#clock {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.1);
  flex-flow: row nowrap;
}

#clock, #left, #center, #right, #media, #weather, #high-low, #astro, #sun, .top, .bottom {
  display: flex;
}

#left, #right, #high-low, #sun {
  flex-flow: column nowrap;
}

#left, #right {
  width: 25%;
}

#left div, #sec, #ampm {
  text-align: left;
}

#center {
  width: 50%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#right {
  text-align: right;
}

#right div {
  justify-content: flex-end;
}


#media {
  justify-content: center;
  align-items: center;
}

#weather, #astro {
  height: 40%;
  align-items: center;
}

#weather-icon, #moon-icon {
  height: 60px;
}

#current-temp {
  font-size: 70px;
}

#high-low, #sun, #fact, #date {
  font-size: 30px;
}

#high-low, #moon-icon {
  padding-left: 10px;
}

#sunrise::before {
  content: url('images/Sunrise.png');
}

#sunset::before {
  content: url('images/Sunset.png');
}

#sunrise::before, #sunset::before {
  padding-right: 5px;
}

.top, .bottom {
  height: 40%;
  padding: 10px;
}

.bottom {
  align-items: flex-end;
}

.middle {
  height: 20%;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 2s, opacity 1s linear;
}

.show {
  visibility: visible;
  opacity: 1;
  transition: visibility 2s, opacity 1s linear;
}
