* {
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: #000;
  font-family: 'Barlow Condensed', sans-serif;
  color: #ffffff;
  text-shadow: 0 0 30px #2d2d2d;
}

html, body, #clock, #media {
  width: 100vw;
  height: 100vh;
}

body div {
  display: flex;
}

h1 {
  font-size: 30vw;
  margin-top: -25px;
  letter-spacing: 10px;
  transition: font-size 2s;
}

h4 {
  font-size: 5vw;
  margin-left: 10px;
  transition: font-size 2s;
}

video {
  z-index: 0;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
}

#clock, #media {
  position: absolute;
}

#clock {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.1);
}

#clock, #high-low, #sun, .middle > .right {
  flex-direction: column;
}

#weather-icon, #moon-icon {
  height: 60px;
}

#current-temp {
  font-size: 70px;
}

#astro, #weather-icon {
  padding-top: 8px;
}

#high-low, #sun, #fact, #date {
  font-size: 30px;
}

#high-low, #moon-icon {
  padding-left: 10px;
}

#sunrise::before {
  content: url('images/Sunrise.png');
}

#sunset::before {
  content: url('images/Sunset.png');
}

#sunrise::before, #sunset::before {
  padding-right: 5px;
}

.top, .middle, .bottom {
  width: 100%;
}

.top, .bottom {
  height: 20%;
}

.top > div {
  align-items: flex-start;
}

.middle > div, #astro, #weather {
  align-items: center;
}

.bottom > div {
  align-items: flex-end;
  padding-bottom: 8px;
}

.middle {
  height: 60%;
}

.left, .center, .right {
  height: 100%;
  flex-grow: 1;
  padding: 0 8px;
}

.left, .middle > .right {
  justify-content: flex-start;
}

.left, .right {
  max-width: 50%;
}

.right {
  justify-content: flex-end;
  text-align: right;
}

.middle > .center {
  width: 60%;
  justify-content: center;
}

.middle > .right {
  justify-content: center;
  align-items: flex-start;
}

.middle > .left, .middle > .right {
  width: 20%;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 2s, opacity 1s linear;
}

.show {
  visibility: visible;
  opacity: 1;
  transition: visibility 2s, opacity 1s linear;
}

.large {
  height: 100%;
}

.large-clock {
  font-size: 40vw;
}

.large-sec {
  font-size: 8vw;
  padding-left: 20px;
}
